<% payload = JSON.parse(request.payload) %>

<div>
  <ul>
    <li><%= "Timestamp: #{payload["timestamp"]}" %></li>
    <li><%= "Method: #{payload["method"].upcase}" %></li>
    <li><%= "Headers: #{payload["headers"]}" %></li>
    <li><%= "Query Parameters: #{payload["query_params"]}" %></li>
    <li><%= "Body: #{payload["body"]}" %></li>
  </ul>
</div>